/* Angela Brown*/

/* ---------------  CSS RESET  --------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------  Global  --------------- */
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');
* {
    display: -webkit-box;
    display: -ms-flexbox;
    display:block;
}

:root{
    --white: #fff;
    --teal: #55BCD5;
    --blue: #499BD2;
    --dark-gray: #222222;
    --yellow: #F6D64A;
    --purple: #9B26B0;
    --light-gray: #EAEAEA;
    --blaack: #000;
}
.sr-only{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#skip:focus{
    position: static;
    width: auto;
    height: auto;
    background-color: var(--dark-gray);
}
/* ---------------  Mobile --------------- */
title{
    background-color: var(--dark-gray);
    color: var(--dark-gray);
    line-height: .7;
}
body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--dark-gray);
    background-color: var(--white);
    line-height: 1.35;
    margin:0;
    
}
header{
    /*display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;*/
    background: linear-gradient(#55BCD5, #fff);
    color: var(--dark-gray);
    padding: 1rem;

}
/* ------ Logo --------- */
#logo img{
    width: 40%;

}
/* ------ Hamburger Menu --------- */
#menu-toggle {
    display: block;
   /* position: relative;
    top: 50px;
    left: 50px; */
    position: absolute;
    top: 30px;
    right: 0px;
    z-index: 1;  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50%;
}
#menu-toggle a {
    text-decoration: none;
    color: var(--dark-gray);
    
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
#menu-toggle a:hover {
    color: var(--yellow);
    background-color: var(--dark-gray);
}
#menu-toggle input{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -7px;
    left: -5px;  
    padding: 0;
    cursor: pointer;  
    opacity: 0; 
    z-index: 2;  
    -webkit-touch-callout: none;
}
#menu-toggle label{
   
    display: block;
    padding: 5px;
    text-align: center;
    background-color: var(--yellow);
    text-transform: uppercase;
    font-weight: 600;
    font-size: medium;
}
#menu-toggle ul {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 6px;
    position: relative;
    
    border-radius: 3px;  
    z-index: 1;  
    -webkit-transform-origin: 4px 0px;  
        -ms-transform-origin: 4px 0px;  
            transform-origin: 4px 0px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#menu-toggle input:checked + label {
    background: var(--dark-gray);
    color: var(--white);
}
nav ul {
    position: absolute;
    width: 300px;
    margin: 0 -100px 0 50px;
    padding: 50px;
    padding-top: 125px;
    
    list-style-type: none;
    /* Hide the menu off-screen to the right */
    right: -100%;
    -webkit-transition: right 0.3s ease;
    -o-transition: right 0.3s ease;
    transition: right 0.3s ease; 
}
nav ul li{
    padding: 10px 0;
    font-size: 22px;
    width: 100%;
    text-decoration: none;
    background: var(--teal);
    color: var(--dark-gray);
}
#menu-toggle input:checked ~ ul {
    right: 0;
}

/* ------ Headings and Text--------- */
h1, h2, h3{
    font-family: Molle, cursive;
}
h1{
    font-weight: 500;
    font-style: italic;
    font-size: xx-large;
    padding-top: 20px;
}
h2{
    font-weight: 500;
    font-size: x-large;
    padding: 1rem;
}
h3{
    font-weight: 500;
    font-size: 25px;
    text-align: left;
}
h3 span{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
}
h4{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 10px;
}
q{
    font-style: italic;
}
a{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
header p{
    font-weight: 500;
    font-size: 16px;
}
#main-content p{
    font-size: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
#intro p{
    padding-bottom: 10px;
    line-height: 1.5;
}
/* ------ Intro  --------- */

#img-grid{
    display:grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    row-gap: 10px;
    padding: 0;
}
#intro{
    padding-bottom: 1rem;
}

/* ------ Plan --------- */
#plan{
    background-color: var(--yellow);
    padding: 1rem;

}
#plan div{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    row-gap: 10px;

}
#plan section {
    border-radius: 8px;
    background-color: var(--teal);
    border: 3px solid var(--white);
    align-items: center;
}
#plan a img{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 15%;
}

/* ------ Testimonials --------- */
#testimonials{
    padding: 1rem;
}
#testimonials div{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    row-gap: 10px;
    
}
#testimonials img{
    margin: auto;
}
/* ------ Destination --------- */
#about{
    padding: 1rem;
    background-color: var(--blue);
}
#about div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    row-gap: 10px;
    
}
#about img{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 15%;
    width:90%;
    height: 100px;
}
/* ------ Contact --------- */
#contact{
    padding: 1rem;
}
#contact h3{
    display:flex;
}
#contact h3 span{
    display:flex;
}
form{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin: auto;
}
form label{
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
}
form input {
    border: 1px solid var(--purple);
    width: 100%;
    height: 30px;
}
form legend{
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
}
form legend span{
    color: var(--purple);
}
form fieldset span{
    color: var(--blaack);
    font-weight: 400;
    font-size: 12px;
    text-transform: none;
}
form span{
    color: var(--purple);
}
#mySubmit{
    color: var(--white);
    background-color: var(--purple);
    width: 100%;
    height: 30px;
}
/* ------ Footer --------- */
footer{
    background-color: var(--light-gray);
    text-align: center;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer a {
    text-decoration: none;
    color: var(--blaack);
}
/* ------ Tablet--------- */
@media screen and (min-width: 500px){
    title{display:none;}
    header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;

    }
    #logo{
        grid-row-start: span 2;
    }
    #logo img{
        width:90%;
        margin:auto;
    }
   
    /* ------  Menu --------- */
    nav{
        grid-column-start: 1;
        grid-column-end: -1;
        padding-bottom: 30px;
    }
    #menu-toggle {

        position: relative;
        z-index: 1;  
        width: 100%;
        margin:auto;
        text-align: center;
    }
    #menu-toggle a {
        text-decoration: none;
        color: var(--dark-gray);
        text-align: center;
    }
    #menu-toggle a:hover {
        background-color: var(--white);
        color: var(--dark-gray);
    }
    #menu-toggle input{
        display: none;
        
    }
    #menu-toggle label{
       
        display: none;
    }
    #menu-toggle ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: auto;
        width: 100%;
        height: 20px;
        margin:auto;
        margin-bottom: 6px;
        position: relative;
        border-radius: 0px;  
        z-index: 1;  
    }
    
    nav ul {
        position: relative;
        width: 100%;
        margin: auto;
        padding: 5px;
        padding-top: 0px;
        /*background: var(--white);*/
        list-style-type: none;
        right: 0;
        
    }
    nav ul li{
        padding: 0;
        font-size: 18px;
        width: 80%;
        text-decoration: none;
        background: var(--white);
        text-align: center;
    }
    nav ul li a{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .active a{
        background-color: var(--yellow);
    }
    /* ------ Headings and Text--------- */
    h1{ 
        grid-column-start: 2;
        grid-column-end: -1;
        font-size: 50px;
    }
    header p{
        grid-column-start: 2;
        grid-column-end: -1;
    }
    /* ------ Manin Content--------- */
    
    #article{
        padding-left: 2rem;
        padding-right: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        
    }
    #img-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        align-items: center;
    }
    #img-grid img{
        width:100%;
        margin:auto;
    }
    h2{
        grid-column-start: 1;
        grid-column-end: -1;
    }
    #intro p{
        grid-column-start: 2;
        grid-column-end: -1;
    }
    picture{
        grid-column-start: 1;
        grid-column-end: -1;
    }
}